:root {
  --header-color: #D04F4F;
  --blue: #3282F7;
  --green: #68D9A4;
  --orange: #ED6454;
  --grey-1: #E7E7E7;
  --grey-2: #C7BEBE;
  --font-dm: "DM Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

#search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--grey-1);
  border-radius: 5px;
}
#search input {
  background-color: var(--grey-1);
  border: none;
  padding: 1.5rem;
  border-radius: 5px;
  width: 95%;
  outline: none;
}
#search .form-loupe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
#search .form-loupe-container button {
  border: none;
  background-color: var(--grey-1);
  cursor: pointer;
}

header {
  color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 1rem;
}
header h1 {
  font-size: 36px;
  font-family: var(--font-dm);
  font-weight: 700;
}

.filters {
  margin: 1rem 0;
}
.filters .container-buttons-filters {
  display: flex;
  margin: 1rem 0;
}
.filters .container-buttons-filters .filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  width: 170px;
  height: 70px;
}
.filters .container-buttons-filters .filter:nth-child(2) {
  margin-left: 1rem;
}
.filters .container-buttons-filters .filter:nth-child(3) {
  margin-left: 1rem;
}
.filters .container-buttons-filters input {
  width: 130px;
  height: 100%;
  padding: 5px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.filters .container-buttons-filters input::placeholder {
  color: white;
  border: none;
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: 700;
}
.filters .container-buttons-filters .ingredients input, .filters .container-buttons-filters .ingredients button {
  background-color: var(--blue);
}
.filters .container-buttons-filters .appliances input, .filters .container-buttons-filters .appliances button {
  background-color: var(--green);
}
.filters .container-buttons-filters .ustensils input, .filters .container-buttons-filters .ustensils button {
  background-color: var(--orange);
}
.filters .container-buttons-filters .open-filter-list {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters .container-buttons-filters .open-filter-list button {
  border-radius: 0 5px 5px 0;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.filters .container-buttons-filters .open-filter-list button img {
  transform: rotate(180deg);
}
.filters .container-buttons-filters .ingredients .filter-list {
  background-color: var(--blue);
}
.filters .container-buttons-filters .appliances .filter-list {
  background-color: var(--green);
}
.filters .container-buttons-filters .ustensils .filter-list {
  background-color: var(--orange);
}
.filters .container-buttons-filters .filter-list {
  position: absolute;
  top: calc(100% - 5px);
  z-index: 2;
  color: white;
  font-size: 18px;
  line-height: 22px;
  border-radius: 0 0 5px 5px;
  display: none;
  width: 600px;
}
.filters .container-buttons-filters .filter-list ul {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  overflow: auto;
  padding-bottom: 10px;
}
.filters .container-buttons-filters .filter-list ul li {
  margin-left: 1rem;
  padding: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.filters .container-buttons-filters .filter-list ul li:hover {
  opacity: 0.75;
}
.filters .container-buttons-filters .dropdown-open {
  width: 600px;
}
.filters .container-buttons-filters .dropdown-open input {
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}
.filters .container-buttons-filters .dropdown-open button img {
  transform: rotate(0deg);
}
.filters .container-buttons-filters .dropdown-open .filter-list {
  display: flex;
}

.recipes {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.recipes .card {
  margin: 0 auto;
  width: 100%;
  height: 370px;
  border-radius: 5px;
}
.recipes .card .fake-image {
  width: 100%;
  height: 50%;
  background-color: var(--grey-2);
  border-radius: 5px 5px 0 0;
}
.recipes .card .card-infos {
  padding: 1rem;
  width: 100%;
  height: 50%;
  background-color: var(--grey-1);
  border-radius: 0 0 5px 5px;
}
.recipes .card .card-infos .container-title-time {
  display: flex;
  justify-content: space-between;
}
.recipes .card .card-infos .container-title-time h2 {
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 18px;
  hyphens: auto;
}
.recipes .card .card-infos .container-title-time .card-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes .card .card-infos .container-title-time .card-time-container img {
  margin-right: 5px;
}
.recipes .card .card-infos .container-title-time .card-time-container span {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}
.recipes .card .card-infos .container-list-desc {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  height: 185px;
}
.recipes .card .card-infos .container-list-desc .ingredients-list {
  width: 48%;
  height: 110px;
  font-family: var(--font-lato);
  overflow: hidden;
}
.recipes .card .card-infos .container-list-desc .ingredients-list li {
  line-height: 14px;
}
.recipes .card .card-infos .container-list-desc .ingredients-list li .ingredient-name {
  font-weight: 700;
  font-size: 12px;
}
.recipes .card .card-infos .container-list-desc .ingredients-list li .ingredient-value {
  font-weight: 400;
  font-size: 12px;
}
.recipes .card .card-infos .container-list-desc .description {
  width: 50%;
  height: 110px;
  font-family: var(--font-roboto);
  font-size: 12px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
