.recipes {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    .card {
        margin: 0 auto;
        width: 100%;
        height: 370px;
        border-radius: 5px;
        .fake-image {
            width: 100%;
            height: 50%;
            background-color: var(--grey-2);
            border-radius: 5px 5px 0 0;
        }
        .card-infos {
            padding: 1rem;
            width: 100%;
            height: 50%;
            background-color: var(--grey-1);
            border-radius: 0 0 5px 5px;
            .container-title-time {
                display: flex;
                justify-content: space-between;
                h2 {
                    font-family: var(--font-lato);
                    font-weight: 400;
                    font-size: 18px;
                    hyphens: auto;
                }
                .card-time-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin-right: 5px;
                    }
                    span {
                        font-family: var(--font-lato);
                        font-weight: 700;
                        font-size: 18px;
                        white-space: nowrap;
                    }
                }
            }
            .container-list-desc {
                margin-top: 1rem;
                display: flex;
                width: 100%;
                height: 185px;
                .ingredients-list {
                    width: 48%;
                    height: 110px;
                    font-family: var(--font-lato);
                    overflow: hidden;
                    li {
                        line-height: 14px;
                        .ingredient-name {
                            font-weight: 700;
                            font-size: 12px;
                        }
                        .ingredient-value {
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }
                }
                .description {
                    width: 50%;
                    height: 110px;
                    font-family: var(--font-roboto);
                    font-size: 12px;
                    line-height: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .fail-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .recipes {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .recipes {
        grid-template-columns: 1fr;
    }
}